<form method="post" action="{{ path('blogcat_delete', {'id': blogcat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blogcat.id) }}">
    <button class="btn">Delete</button>
</form>
